@font-face {
  font-family: digit;
  src: url('digital-7_mono.ttf') format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 12px;
}

#main {
  position: relative;
  width: 670px;
  height: 625px;
  margin: 0 auto;
}

#heart {
}

#words {
  position: absolute;
  top: 110px;
  left: 120px;
  font-size: 22px;
  color: #666;
}

#to, #content, #clock, #end, #from, #love {
  display: none;
}
#to {
  font-size: 25px;
}
#end {
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  font-size: 21px;
}
#from {
  margin-left: 0px;
  text-align: center;
  font-size: 20px;
}
#love {
  position: absolute;
  top: 80px;
  left: 180px;
}

@keyframes fade {
  from { opacity: 1.0; }
  20% { opacity: 0.7; }
  to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
  from { opacity: 1.0; }
  20% { opacity: 0.7; }
  to { opacity: 1.0; }
}
 
.blink {
  animation:fade 2000ms infinite;
  -webkit-animation:fade 2000ms infinite;
}

.digit{
  font-family: "digit";
  font-size: 36px;
}
